body {
  text-align: center;
  margin: 0;
  padding: 16px;
}

h1 {
  font-size: 72px;
  color: rgba(9, 30, 31,.75);
  text-transform: uppercase;
  padding: 0;
  margin: 260px 0 40px 0;
  text-shadow: 1px 4px 8px rgba(0, 0, 0, .6);
}

button {
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 8px;
  border: 0 solid transparent;
  background-color: rgba(17, 41, 41, 0.8);
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, .6);
  color: rgba(255, 255, 255, .6);
  cursor: pointer;
  transition-duration: .2s;
  margin: 8px;
}

button:hover {
  color: rgba(255, 255, 255, 1);
}

button:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .8);
  color: rgba(255, 255, 255, .4);
}