registry=https://registry.npmmirror.com/
save-exact=true
save-prefix=""
legacy-peer-deps=true
strict-peer-dependencies=false
engine-strict=false
auto-install-peers=false
dedupe-peer-dependents=false
resolve-peers-from-workspace-root=false